In [2]:
import pandas as pd

# MIMIC-III

In [2]:
mimic_iii_icd_df = pd.read_feather('files/data/mimiciii_clean/mimiciii_clean_icd.feather')
mimic_iii_cpt_df = pd.read_feather('files/data/mimiciii_clean_cpt/mimiciii_clean_cpt.feather')

In [3]:
mimic_iii_cpt_df.head()

,subject_id,_id,DESCRIPTION,text,cpt,target,num_words,num_targets
0,3,145834,Report,admission date discharge date date of birth se...,"[94002, 94003]","[94002, 94003]",2153,2
1,4,185777,Report,admission date discharge date date of birth se...,"[99231, 99238, 99233, 99223, 99232]","[99231, 99238, 99233, 99223, 99232]",1442,5
2,6,107064,Report,admission date discharge date date of birth se...,"[99231, 99291, 99239, 99233, 99232, 99255]","[99231, 99291, 99239, 99233, 99232, 99255]",1037,6
3,9,150750,Report+Addendum,admission date discharge date date of birth se...,[94003],[94003],1388,1
4,11,194540,Report,admission date discharge date date of birth se...,"[99239, 99233]","[99239, 99233]",2010,2

In [4]:
mimic_iii_icd_df.head()

,subject_id,_id,DESCRIPTION,text,icd9_diag,icd9_proc,target,num_words,num_targets
0,3,145834,Report,admission date discharge date date of birth se...,"[410.71, 428.0, 682.6, 427.5, 263.9, 584.9, 42...","[89.64, 38.93, 99.62, 96.04, 96.72, 96.6]","[89.64, 38.93, 99.62, 96.04, 96.72, 96.6, 410....",2153,15
1,4,185777,Report,admission date discharge date date of birth se...,"[790.7, E931.7, V09.0, 136.3, 041.11, 799.4, 2...","[88.72, 38.93, 33.23]","[88.72, 38.93, 33.23, 790.7, E931.7, V09.0, 13...",1442,12
2,6,107064,Report,admission date discharge date date of birth se...,"[285.9, 276.7, 403.91, 275.3, V15.82, 997.2, 2...","[99.04, 39.57, 00.91, 55.69, 38.06]","[99.04, 39.57, 00.91, 55.69, 38.06, 285.9, 276...",1037,13
3,9,150750,Report+Addendum,admission date discharge date date of birth se...,"[431, 428.0, 507.0, 276.5, 584.9, 401.9]","[96.04, 96.72]","[96.04, 96.72, 431, 428.0, 507.0, 276.5, 584.9...",1388,8
4,10,184167,Report,admission date discharge date date of birth se...,"[V29.0, 765.15, 774.2, V30.00, 765.25]","[99.15, 99.83, 96.6]","[99.15, 99.83, 96.6, V29.0, 765.15, 774.2, V30...",518,8

In [5]:
mimic_iii_icd_df_split = pd.read_feather('files/data/mimiciii_clean/mimiciii_clean_splits.feather')

In [6]:
len(mimic_iii_icd_df_split)

52712

In [7]:
len(mimic_iii_icd_df)

52712

In [8]:
mimic_iii_cpt_df_split = pd.read_feather('files/data/mimiciii_clean_cpt/mimiciii_clean_splits.feather')

In [9]:
len(mimic_iii_cpt_df_split)

42701

In [10]:
len(mimic_iii_cpt_df)

42701

# MIMIC-IV

In [11]:
mimic_iv_icd10 = pd.read_feather('files/data/mimiciv_icd10/mimiciv_icd10.feather')
mimic_iv_icd9 = pd.read_feather('files/data/mimiciv_icd9/mimiciv_icd9.feather')

In [12]:
mimic_iv_icd10.head()

,note_id,subject_id,_id,note_type,note_seq,charttime,storetime,text,icd10_proc,icd10_diag,target,num_words,num_targets
0,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,name unit no admission date discharge date dat...,[],"[E78.5, F02.80, G31.83, R29.6, R44.1, Z85.46]","[E78.5, F02.80, G31.83, R29.6, R44.1, Z85.46]",1305,6
1,10000117-DS-21,10000117,22927623,DS,21,2181-11-15 00:00:00,2181-11-15 15:04:00,name unit no admission date discharge date dat...,[],"[F41.9, I34.1, K21.9, K31.819, K44.9, M81.0, R...","[F41.9, I34.1, K21.9, K31.819, K44.9, M81.0, R...",626,9
2,10000117-DS-22,10000117,27988844,DS,22,2183-09-21 00:00:00,2183-09-29 16:23:00,name unit no admission date discharge date dat...,[0QS734Z],"[E78.00, F41.9, G43.909, I34.1, K21.9, M81.0, ...","[0QS734Z, E78.00, F41.9, G43.909, I34.1, K21.9...",887,13
3,10000980-DS-24,10000980,25911675,DS,24,2191-05-24 00:00:00,2191-05-24 17:29:00,name unit no admission date discharge date dat...,[],"[D50.0, E11.8, I12.9, I25.10, I25.2, I50.23, I...","[D50.0, E11.8, I12.9, I25.10, I25.2, I50.23, I...",1722,22
4,10000980-DS-25,10000980,29659838,DS,25,2191-07-19 00:00:00,2191-07-22 09:37:00,name unit no admission date discharge date dat...,[],"[D63.1, E11.21, E78.5, I12.9, I25.10, I25.2, I...","[D63.1, E11.21, E78.5, I12.9, I25.10, I25.2, I...",1547,16

In [13]:
mimic_iv_icd9.head()

,note_id,subject_id,_id,note_type,note_seq,charttime,storetime,text,icd9_proc,icd9_diag,target,num_words,num_targets
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,name unit no admission date discharge date dat...,[54.91],"[070.70, 296.80, 309.81, 496, 571.5, 572.3, 78...","[54.91, 070.70, 296.80, 309.81, 496, 571.5, 57...",1126,9
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,name unit no admission date discharge date dat...,[54.91],"[070.71, 276.1, 287.5, 305.1, 496, 571.5, 789....","[54.91, 070.71, 276.1, 287.5, 305.1, 496, 571....",1486,9
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,name unit no admission date discharge date dat...,[],"[070.44, 276.1, 276.7, 296.80, 305.1, 458.29, ...","[070.44, 276.1, 276.7, 296.80, 305.1, 458.29, ...",1487,13
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,name unit no admission date discharge date dat...,[54.91],"[070.54, 276.1, 276.7, 305.1, 496, 571.5, 787....","[54.91, 070.54, 276.1, 276.7, 305.1, 496, 571....",1416,11
4,10000248-DS-10,10000248,20600184,DS,10,2192-11-30 00:00:00,2192-11-30 19:49:00,name unit no admission date discharge date dat...,[],"[285.9, 286.0, 920, 922.2, E849.5, E885.4]","[285.9, 286.0, 920, 922.2, E849.5, E885.4]",1099,6

In [14]:
mimic_iv_icd10_split = pd.read_feather('files/data/mimiciv_icd10/mimiciv_icd10_split.feather')
mimic_iv_icd9_split = pd.read_feather('files/data/mimiciv_icd9/mimiciv_icd9_split.feather')

In [15]:
len(mimic_iv_icd10)

122279

In [16]:
len(mimic_iv_icd10_split)

122279

In [17]:
len(mimic_iv_icd9_split)

209326

In [18]:
len(mimic_iv_icd9)

209326

# Check CPT validation sets

In [28]:
#import data
axa_data = pd.read_feather('files/data/axa_cpt/axa_cpt.feather')
mimic_axa_split = pd.read_feather('files/data/mimic_axa_cpt/mimic_axa_cpt_split.feather')
mimic_split = pd.read_feather('files/data/mimiciii_clean_cpt/mimiciii_clean_splits.feather')

In [29]:
#check validation data 
val_mimic_split =  set(mimic_split[mimic_split['split']=='val']['_id'].unique())
val_mimic_axa_split =  set(mimic_axa_split[mimic_axa_split['split']=='val']['_id'].unique())

nb_val = len(val_mimic_split)
common = len(val_mimic_split.intersection(val_mimic_axa_split))
print(common/nb_val)

0.8514150943396226

In [30]:
#check test data
test_mimic_split =  set(mimic_split[mimic_split['split']=='test']['_id'].unique())
test_mimic_axa_split =  set(mimic_axa_split[mimic_axa_split['split']=='test']['_id'].unique())

nb_test = len(test_mimic_split)
common = len(test_mimic_split.intersection(test_mimic_axa_split))
print(common/nb_test)

0.9945288753799392

In [31]:
#check train data
train_mimic_split =  set(mimic_split[mimic_split['split']=='train']['_id'].unique())
train_mimic_axa_split =  set(mimic_axa_split[mimic_axa_split['split']=='train']['_id'].unique())

nb_train = len(train_mimic_split)
common = len(train_mimic_split.intersection(train_mimic_axa_split))
print(common/nb_train)

0.9787020482418995